.collapse-header-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

@font-face {
    font-family: newerfont;
    src: url(../../Bubble-Mint.ttf);
}

.collapse-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.collapse-header h4 {
    color: black;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffebc1;
    border: solid rgb(0, 0, 0) 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 17px;
    /* display: none; */
}

.collapse-header p {
    font-family: newerfont;
    color: black;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
}

.collapse-content {
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}

@media (min-width: 767px) {
    .roadimage {
        height: 300px;
        width: 800px;
    }

}