.roadmap-control header span {
    color: #FF9859;
    /* text-shadow: 1px 0 20px rgb(200 255 0 / 31%); */
    color: white;
}

@font-face {
    font-family: bruh;
    src: url(/src/Bubble-Mint.ttf);
}

.roadmap-control {
    background-color: white;
    background-size: cover;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #FFE1C9;
    color: black;
    /* margin-bottom: 50px; */

}

.roadmap-control header {
    font-style: italic;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
    font-family: bruh;
}

.roadmap-description {
    font-size: 18px;
    color: white;
    font-weight: 900;
}

.roadmap-control img {
    /* width: 100%; */
    color: black;
}

.roadmap-control video {
    border: solid black 10px;
    border-radius: 20px;
    width: 100%;
    color: black;
}

.roadimage {
    height: 220px;
    width: 450px;
}

@media (min-width: 767px) {
    .roadimage {
        height: 300px;
        width: 800px;
    }

    .roadmap-control header {
        font-style: italic;
        font-size: 100px;
        font-weight: 700;
        margin-bottom: 20px;
        color: black;
        font-family: bruh;
        padding-top: 0px;
    }

}