.footer-control {
    background-color: whitesmoke;
    
    
}

.footer {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer p {
    margin: 0px;
    letter-spacing: 3px;
}

.footer div svg {
    margin-left: 20px;
}

.banditz {
    font-size: 15px;
    display: none;
}

.metaverse {
    font-size: 15px;
}

@media (min-width: 767px) {
    .banditz {
        font-size: 15px;
        display:flex;
    }
    
    .metaverse {
        font-size: 15px;
    }
}