.about-control {
    background-image: url(../../assets/btile.png);
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 900;
    margin-left: 2px;
    margin-right: 2px;
}

@font-face {
    font-family: casinofont;
    src: url(../../assets/fonts/impact.ttf);
}

@font-face {
    font-family: casinofont;
    src: url(/src/Bubble-Mint.ttf);
}

@font-face {
    font-family: newerfont;
    src: url(/src/Bubble-Mint.ttf);
}

.image-control img {
    width: 100%;
}

.about-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-description header {
    font-size: 60px;
    line-height: 50px;
    color: #88CDDB;
    /* font-style: none; */
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: casinofont;

    color: #FCD5A1 !important;
    text-shadow: 2px 2px 3px black;
}

.about-description p {
    color: black;
}

.about-description p span {
    color: #000000;
}

.about-description header span {
    color: #ffffff;
}

@media (min-width: 767px) {
    .about-control {
        background-image: url(../../assets/btile.png); 
        padding-top: 60px;
        padding-bottom: 60px;
        font-weight: 900;
        margin: 0px;
    
    }

    .about-description header {
        font-size: 50px;
        line-height: 50px;
        color: #88CDDB;
        /* font-style: none; */
        font-weight: 900;
        margin-bottom: 10px;
        font-family: casinofont;
    }

}

